{:paths ["src"]
 
 :deps {org.clojure/math.combinatorics {:mvn/version "0.3.0"}
        environ/environ {:mvn/version "1.2.0"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}}}
